PORT=
JWT_SECRET=
API_KEY=
PAGE_LIMIT=
OTP_EXPIRY=
PRODUCT_NAME=
APP_THEME=

# Email Setup
EMAIL_HOST=
EMAIL_USER=
EMAIL_PASS=
EMAIL_FROM=

# Cloudinary
CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Frontend URLs
ADMIN_DASHBOARD_URL=
WEBSITE_URL=

# SMS
SMS_BASE_URL=
SMS_SENDER_ID=
SMS_API_KEY=

TWILIO_SMS_SENDER_ID=
TWILIO_SMS_API_KEY=

# Google APIS
GOOGLE_MAPS_API_KEY=

# MongoDB
MONGO_URI=

# MongoDB Atlas for Search Indexing
MONGODB_ATLAS_PROJECT_ID=
MONGODB_ATLAS_CLUSTER=
MONGODB_ATLAS_PUBLIC_KEY=
MONGODB_ATLAS_PRIVATE_KEY=
MONGODB_DATABASE=
MONGODB_TEAM_COLLECTION=
MONGODB_SEARCH_INDEX_LIMIT=

# OAUTH
GOOGLE_OATH_API_KEY=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_AUTH_REDIRECT=

# Clock in Distance
MAX_CLOCK_IN_DISTANCE=